

<app-navbar></app-navbar>
<nb-layout>


  <nb-sidebar>
    <app-sidebar></app-sidebar>
  </nb-sidebar>
  <nb-layout-header subheader>Contenu</nb-layout-header>

  <nb-layout-column>
    <app-content></app-content>
  </nb-layout-column>

  <nb-layout-footer>
    <app-website-footer></app-website-footer>
  </nb-layout-footer>

</nb-layout>


