<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="medium">
      <nb-card-header>Medium card</nb-card-header>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="large">
      <nb-card-header>Large card</nb-card-header>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="medium">
      <nb-card-header>Medium card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="giant">
      <nb-card-header>Giant card</nb-card-header>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="giant">
      <nb-card-header>Giant card</nb-card-header>
    </nb-card>
  </div>
</div>

<div class="card-row">
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
    </nb-card>
    <nb-card size="small">
      <nb-card-header>Small card</nb-card-header>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="giant">
      <nb-card-header>Giant card</nb-card-header>
    </nb-card>
  </div>
</div>


