<!-- <nb-card>
  <nb-card-body>

    <nb-actions size="medium">
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="power-outline"></nb-action>
      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action>
      <nb-action [icon]="disabledIconConfig" disabled></nb-action>
      <nb-action>
        Custom Action
      </nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>


      <nb-card-body >

        <nb-actions  size="small">
          <nb-action icon="search-outline"></nb-action>
          <nb-action icon="power-outline"></nb-action>
          <nb-action icon="person-outline"></nb-action>
          <nb-action icon="home-outline"></nb-action>
          <nb-action [icon]="disabledIconConfig" disabled></nb-action>
          <!-- <nb-action>
            Custom Action
          </nb-action> -->
        </nb-actions>

      </nb-card-body>
    </div>
  </div>
</nav>





