// .nav_li {
//   margin: 10vh;
//   display: inline;
//   justify-content: space-between;
// }

.logo_img {
  padding: 5px;
  width: 50px;
}

.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #519445;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(113, 148, 245), rgb(153, 90, 90));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(20, 197, 144), rgb(51, 43, 43))
}
